@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

main {
    background: linear-gradient(rgba(0, 128, 0, 0.541), white);
    font-family: Roboto;
}

section {
    width: 100vw;
    height: 320px;
}

.divIzquierdo {
    padding-top: 20px;
    height: 300px;
    width: 49vw;
    float: left;
    text-align: center;

}

.divDerecho {
    padding-top: 20px;
    height: 300px;
    width: 49vw;
    float: right;
    text-align: center;

}

section div img {
    height: 250px;
    width: auto;
}


main section div b {
    display: block;
    padding: 50px 30px 10px 30px;
    font-size: 2em;
}

main section div p {
    padding: 0px 30px 100px 30px;
    font-size: 1.5em;
}