@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

main {
    padding-top: 20px;
    background: linear-gradient(rgba(0, 128, 0, 0.541), white);
    font-family: Roboto;
}

.fila {
    width: 100vw;
    height: 450px;
    text-align: center;
}

.productoIzquierdo {
    float: left;
    width: 33%;
    height: 450px;
}

.productoCentral {
    float: left;
    width: 33%;
    height: 450px;
}

.productoDerecho {
    float: left;
    width: 33%;
    height: 450px;
}

main div div b {
    background-color: rgba(255, 255, 255, 0.338);
    border: 1px solid black;
    padding: 20px 0px;
    margin: 0px 80px;
    border-radius: 10px;
    font-size: 1.5em;
    display: block;
}

main div div img {
    padding-top: 20px;
    height: 250px;
    width: auto;
}

main div div p {
    font-size: 2em;
    color: rgb(13, 165, 2);
}