@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

main {
    height: 110vh;
    background: linear-gradient(rgba(0, 128, 0, 0.541), white);
    padding-top: 20px;
    font-family: Roboto;
}

.mainTexto {
    height: 100%;
    width: 50vw;
    float: left;
}

.mainTexto b {
    display: block;
    text-align: center;
    font-size: 30px;
    padding: 50px 0px;
}

.mainTexto p {
    padding: 0px 2vw;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
}

.mainFotos {
    height: 100%;
    width: 50vw;
    float: right;
}

.foto1 {
    padding-top: 40px;
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.mainFotos div {
    text-align: center;
    padding-top: 30px;
}

.foto2 {

    width: 25%;
    height: auto;
    padding-right: 6px;
}

.foto3 {

    width: 25%;
    height: auto;
    padding-right: 6px;
    padding-left: 6px;
}

.foto4 {
    width: 25%;
    height: auto;
    padding-left: 6px;
}