@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Italic.ttf); }

.roboto {
  font-family: "roboto"; }

@font-face {
  font-family: "bee";
  src: url(../fonts/BreeSerif-Regular.ttf); }

.bee {
  font-family: "bee"; }

@keyframes slideright {
  from {
    margin-left: 300%; }
  to {
    margin-left: 0%; } }

@keyframes slideleft {
  from {
    margin-right: 300%; }
  to {
    margin-right: 0%; } }

header .sectionUno {
  background-color: #000000; }
  header .sectionUno div p {
    font-size: 0.8rem; }

header .sectionDos {
  background-color: #009929; }
  header .sectionDos nav div ul li {
    transform: skewX(-30deg); }
    header .sectionDos nav div ul li .select {
      font-size: 1.25rem;
      color: #000000; }
    header .sectionDos nav div ul li a {
      width: 150px;
      height: 50px;
      transition: all 1s;
      color: white !important; }
      header .sectionDos nav div ul li a:hover {
        background-color: rgba(255, 255, 255, 0.219); }
      header .sectionDos nav div ul li a h2 {
        font-size: 1rem;
        margin-bottom: 0px;
        transform: skewX(30deg); }

.navbar-toggler {
  background-color: #ffffffab !important; }

@media (max-width: 767px) {
  nav ul li {
    transform: skewX(0deg) !important; }
    nav ul li a {
      border-radius: 20px;
      width: 50vw !important; }
      nav ul li a h2 {
        transform: skewX(0deg) !important; }
  .navbar-nav {
    padding: 0 !important; } }

footer {
  background-color: #000000 !important; }
  footer div div ul li a:hover {
    color: #5ccb5f !important; }
  footer div div hr {
    margin-top: 0 !important; }

#bodyIndex main .divDos {
  background-image: url(../assets/images/Fondos/fondo_index2.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat; }
  #bodyIndex main .divDos .divUno {
    background-color: rgba(255, 255, 255, 0.651);
    width: 80vw;
    border-radius: 30px; }
    #bodyIndex main .divDos .divUno .pUno {
      font-size: 1.5rem !important;
      animation-name: slideright;
      animation-duration: 3s; }
    #bodyIndex main .divDos .divUno .pDos {
      font-size: 1.2rem !important;
      padding-bottom: 40px;
      animation-name: slideleft;
      animation-duration: 4s; }
    #bodyIndex main .divDos .divUno div .boton {
      width: 140px;
      height: 40px;
      border-radius: 10px;
      background-color: #009929;
      transition: all 1s;
      animation-name: slideright;
      animation-duration: 5s; }
      #bodyIndex main .divDos .divUno div .boton:hover {
        background-color: #006414;
        color: white;
        width: 160px;
        height: 60px;
        margin: -10px; }

#bodyIndex main .servicios {
  background-color: rgba(255, 255, 255, 0.236);
  border-radius: 30px; }

#bodyIndex main .descrip .descripTexto, #bodyIndex main .descrip .descripTexto--verde {
  font-size: 1.5rem;
  color: black;
  margin: 0;
  text-align: center;
  padding-top: 1.5rem; }

#bodyIndex main .descrip .descripTexto--verde {
  background-color: #009929;
  font-size: 1.5rem;
  color: white; }

#bodyIndex main .descrip p {
  font-size: 1.2rem;
  color: black;
  text-align: center; }

#bodyIndex main section b {
  font-size: 1.5rem;
  color: black; }

#bodyIndex main section p {
  font-size: 1.2rem;
  color: black; }

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 4rem !important;
  height: 4rem !important;
  background-size: 200% 200% !important; }

.carousel-control-next, .carousel-control-prev {
  opacity: .8 !important; }

@media (min-width: 992px) {
  #bodyIndex main .divDos {
    background-size: 100% auto !important; }
  #bodyIndex main .pad {
    padding: 100px 0px; }
    #bodyIndex main .pad div {
      padding: 100px 0px; } }

@media (max-width: 576px) {
  #bodyIndex main div h5 {
    font-size: 0.75rem !important; }
  #bodyIndex header section div p {
    font-size: 0.75rem; } }

#bodyBeneficios main div div img {
  width: auto;
  height: 200px; }

#bodyBeneficios main div iframe {
  padding-bottom: 40px; }

#bodyBeneficios main div div .boton {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: #009929;
  transition: all 1s; }
  #bodyBeneficios main div div .boton:hover {
    background-color: #006414;
    color: white;
    width: 160px;
    height: 60px;
    margin: -10px; }

.bordeRedondo {
  border-radius: 25px !important; }

.btn-primary {
  --bs-btn-bg: #009929 !important;
  --bs-btn-border-color: #009929 !important;
  --bs-btn-hover-bg: #dcdcdc !important;
  --bs-btn-hover-border-color: #dcdcdc !important;
  --bs-btn-active-bg: #dcdcdc !important;
  --bs-btn-active-border-color: #dcdcdc !important; }

#bodyContacto main div div div div img {
  width: auto;
  height: 150px; }

#bodyContacto main div div div div h4 {
  padding: 0px 10px;
  font-size: 1.5rem; }

@media (max-width: 576px) {
  .bajarForm {
    flex-direction: column; } }

@media (max-width: 992px) {
  #bodyContacto main {
    padding: 0px 0px 20px 0px; }
    #bodyContacto main div div div {
      flex-direction: column; }
      #bodyContacto main div div div .pri {
        order: 1; }
      #bodyContacto main div div div .seg {
        order: 2; }
        #bodyContacto main div div div .seg h4 {
          text-align: center;
          padding-bottom: 10px; }
      #bodyContacto main div div div div img {
        margin: 15px 0px; } }

* {
  padding: 0;
  margin: 0; }

.py-7 {
  padding: 7rem 0rem; }

.bg-verdemedio {
  background-color: #009929; }

.posh1 {
  top: -1000px; }

.agrandado:hover {
  width: auto;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 15px 15px #dcdcdc;
  -webkit-box-shadow: 0px 0px 15px 15px #dcdcdc; }
