@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Italic.ttf);
}

* {
    padding: 0;
    margin: 0;
}

#bodyIndex {
    background-image: url(../images/Fondo\ index.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 0%;

}

/* header */

header {
    width: 100vw;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr;
    grid-template-areas:
        "sitios"
        "barra";
}

/* header con fondo blanco para html interno */

.fondoHeader{
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}


/* barra superior con las redes sociales */

#sitiosOficiales {
    width: 100%;
    grid-area: sitios;
    background-color: rgb(0, 0, 0);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "texto redes";
    align-items: center;
}

.sitiosOficialesTexto {
    padding-left: 15px;
    grid-area: texto;
    align-items: center;
}

.sitiosOficialesRedes {
    padding-right: 15px;
    grid-area: redes;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.sitiosOficialesRedes img {
    width: 20px;
    height: 20px;
    padding: 0px 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* barra de navegacion de la pagina */

#barraNavegacion {
    width: 100%;
    grid-area: barra;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo nav";
    align-items: center;
}

#barraNavegacion div {
    grid-area: logo;
    display: flex;
    justify-content: center;
}

#barraNavegacion div img {
    height: 90px;
    width: auto;
}

#barraNavegacion nav {
    grid-area: nav;
}

#barraNavegacion nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

nav ul li {
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    transition: all 1s;

}

nav ul li a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.466), rgba(255, 255, 255, 0));
    color: white;
    width: 170px;
    height: 70px;
    margin: -10px;
}

/* main del inicio */

#mainIndex {
    width: 100vw;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 1fr;
    grid-template-areas:
        "contactate contactate"
        "mainTexto mainFotos";
}

.mainContactate {
    grid-area: contactate;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mainTexto {
    grid-area: mainTexto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 1rem;
}

.colorFondo{
    background-color: rgb(219, 219, 219);
}

.mainTextoDiv{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 50px;
}

.mainTextoTitulo{
    padding: 20px 0px;
    font-size: 1.25rem;
}

.mainTextoCuerpo{
    font-size: 1rem;
    padding-bottom: 20px;
    text-align: center;
}

.mainFotos {
    grid-area: mainFotos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.mainFotosChicas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* boton del index contactate */

.boton a {
    text-decoration: none;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.651);
    transition: all 1s;
}

.boton a:hover {
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    width: 170px;
    height: 70px;
    margin: -10px;
}

/* texto sobre el boton del contactate */

.mainContactateH {
    font-size: 1.5rem;
    color: black;
    padding: 0px 10%;
    text-align: center;
}

/* fotos inicio */

.foto1 {
    width: 60%;
    height: auto;
}

.foto2 {
    width: 20%;
    height: auto;
}

.foto3 {
    width: 20%;
    height: auto;
    padding: 0px 10px;
}

.foto4 {
    width: 20%;
    height: auto;
}

.bordeRedondo{
    border-radius: 25px;
}

                                    /* footer de todas los html del sitio */

footer {
    width: 100vw;
    height: 150px;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "descripcion contacto redes";
    padding: 10px;
}

.footerDescripcion {
    grid-area: descripcion;
}

.footerContacto {
    grid-area: contacto;
}

.footerRedes {
    grid-area: redes;
}

.linea {
    width: 50%;
    margin: 10px 0px;
}

footer div ul li {
    list-style: none;
    padding: 5px 0px;
}

footer div ul li a {
    text-decoration: none;
    color: white;
}

footer div ul li a:hover {
    color: rgba(0, 128, 0, 0.541);
}



                                        /* estilos del html: beneficios */

#bodyBeneficios {
    width: 100vw;
}

#mainBeneficios {
    display: flex;
    flex-direction: column;

}

.tituloVideo {
    padding: 20px 0px 50px 0px;
    text-align: center;
    font-size: 1.5em;
}

.video {
    text-align: center;
}

                                        /* estilos del html: Contacto */

#bodyContacto {
    width: 100vw;
    text-align: center;
}

#mainContacto h2 {
    font-size: 2em;
    padding: 25px 0px;
}

form input {
    padding: 2px 0px;
    margin: 5px 0px;
}

form {
    background-color: rgba(255, 255, 255, 0.541);
    padding: 20px;
    margin: 0px 30vw 20px 30vw;
    border: 2px solid black;
    border-radius: 40px;
}


                                        /* estilos del html: Nosotros */

#mainNosotros{
    padding: 20px 0px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "colegio"
        "facultad"
        "empresa";

}
#colegio{
    grid-area:colegio;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "colegioTexto colegioImagen";
}

.colegioTexto{
    grid-area: colegioTexto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    text-align: center;
}
.colegioImagen{
    grid-area: colegioImagen;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#facultad{
    grid-area:facultad;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "facultadImagen facultadTexto";
}

.facultadTexto{
    grid-area: facultadTexto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    text-align: center;
}
.facultadImagen{
    grid-area: facultadImagen;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

#empresa{
    grid-area:empresa;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "empresaTexto empresaImagen";
}

.empresaTexto{
    grid-area: empresaTexto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    text-align: center;
}
.empresaImagen{
    grid-area: empresaImagen;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

section div img {
    height: 250px;
    width: auto;
}

.espacioTitulo{
    font-size: 1.5rem;
    padding: 25px 0px;
}

                                        /* estilos del html: Productos */

#bodyProductos {
    width: 100vw;
}



#mainProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;

}
.producto{
    width: 150px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.571);

}

.producto img {
    padding-top: 20px;
    height: 120px;
    width: auto;
}