@font-face {
    font-family: "roboto";
    src: url(../fonts/Roboto-Italic.ttf);
}

.roboto {
    font-family: "roboto";
}

@font-face {
    font-family: "bee";
    src: url(../fonts/BreeSerif-Regular.ttf);
}

.bee {
    font-family: "bee";
}