@import "./variables";
@import "./tipografias";
@import "./mixin";
@import "./header";
@import "./footer";
@import "./Index/index.scss";
@import "./Nosotros/nosotros.scss";
@import "./Beneficios/beneficios.scss";
@import "./Productos/productos.scss";
@import "./Contacto/contacto";

* {
    padding: 0;
    margin: 0;
}

.py-7{
    padding: 7rem 0rem;

}

.bg-verdemedio{
    background-color: $verde-medio
}

.posh1{
    top: -1000px;
}