@import "./variables";
@import "./tipografias";
@import "./header";
@import "./footer";
@import "./Index/index.scss";
@import "./Nosotros/nosotros.scss";
@import "./Beneficios/beneficios.scss";
@import "./Productos/productos.scss";
@import "./Contacto/contacto";

* {
    padding: 0;
    margin: 0;
}

// logo whatsapp flotante en todas las web

.wFlotante{
    &:hover {
    background: radial-gradient(circle, rgba(125, 255, 125, 1) 0%, rgba(125, 255, 125, 0.5) 60%, rgba(125, 255, 125, 0) 90%);
    }
}
