// bordes redondos de las imagenes de main

.bordeRedondo {
    border-radius: 25px !important;
}

.btn-primary {
    --bs-btn-bg: #009929 !important;
    --bs-btn-border-color: #009929 !important;
    --bs-btn-hover-bg: #dcdcdc !important;
    --bs-btn-hover-border-color: #dcdcdc !important;
    --bs-btn-active-bg: #dcdcdc !important;
    --bs-btn-active-border-color: #dcdcdc !important;
}