#bodyBeneficios{
    main{
        div{
            div{
                img{
                    height: 200px;
                    width: auto;
                }
            }
        }
        div{
            iframe{
                padding-bottom: 40px;
            }
        }
        div{
            .boton{
                a {
                    width: 140px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: $verde-medio;
                    transition: all 1s;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.466);
                        color: white;
                        width: 160px;
                        height: 60px;
                        margin: -10px;
                    }
                }
            }
        }
    }
}

