#bodyIndex{
    main{
        .divDos{
            background-image: url(../assets/images/Fondos/fondo_index2.jpg);
            background-size: auto 100%;
            background-repeat: no-repeat;
            .divUno{
            background-color: rgba(255, 255, 255, 0.651);
            width: 80vw;
            border-radius: 30px;
                .pUno{
                    font-size: 1.5rem !important;
                }
                .pDos{
                    font-size: 1.2rem !important;
                    padding-bottom: 40px;
                }
                div{
                    .boton{
                        @include sizes(140px,40px);
                        border-radius: 10px;
                        background-color: $verde-medio;
                        transition: all 1s;
                        &:hover{
                            background-color: rgba(0, 0, 0, 0.466);
                            color: white;
                            @include sizes(160px,60px);
                            margin: -10px;
                        }
                    }
                }
            }
        }
        .servicios{
            background-color: rgba(255, 255, 255, 0.236);
            border-radius: 30px;
        }
        .descrip{
            h3{
                // @include text(1.5rem,black);
                font-size: 1.5rem;
            }
            p{
                // @include text(1.2rem,black);
                font-size: 1.2rem;
            }
        }
        section{
            b{
                @include text(1.5rem,black);
            }
            p{
                @include text(1.2rem,black);
            }
        }
    }
}

@media (min-width: 992px) {
    #bodyIndex{
        main{
            .divDos{
                background-size: 100% auto !important;
            }
            .pad{
                padding: 100px 0px;
                div{
                    padding: 100px 0px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #bodyIndex {
        main{
            div{
                h5{
                    font-size: 0.75rem !important;
                }
            }
        }
        header{
            section{
                div{
                    p{
                        font-size: 0.75rem;                        
                    }
                }
            }
        }
    }
}