#bodyIndex{
    background-image: url(../images/Fondos/fondo_index.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    main{
        div{
            .boton{
                a {
                    width: 140px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: rgba(255, 255, 255, 0.651);
                    transition: all 1s;
                    &:hover{
                        background-color: rgba(0, 0, 0, 0.466);
                        color: white;
                        width: 160px;
                        height: 60px;
                        margin: -10px;
                    }
                }
            }
            
        }
        div{
            div{
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    main{
        .pad{
            padding: 100px 0px;
            div{
                padding: 100px 0px;
            }
        }
    }
}

@media (max-width: 767px) {
    #bodyIndex{
        background-image: url(../images/Fondos/fondo_index_768.jpg);
    }
}

@media (max-width: 576px) {
    #bodyIndex {
        background-image: url(../images/Fondos/fondo_index_576.jpg) !important;
        main{
            div{
                h5{
                    font-size: 0.75rem !important;
                }
            }
        }
        header{
            section{
                div{
                    p{
                        font-size: 0.75rem;                        
                    }
                }
            }
        }
    }
}